@font-face {
    font-family: 'con';
    src: url('fonts/Constantia.ttf') format("truetype");
}
* {
    padding: 0;
    margin: 0;
    font-family: con;
    color:#405C73;
}
.bigSize {
    font-size: 1.3em;
}
.flex {
    display: flex;
}
.border {
    border: 2px solid #405C73;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.btn {
    padding: 10px;
    background-color: #BFD6F6;
    border-radius: 10px;
    border: 1px solid #405C73;
    text-align: center;
    margin: 10px auto;
    display: grid;

}
.btn2 {
    display: inline-block;
    padding: 10px;
    margin: 10px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #405C73;
    text-align: center;

}
.div85 {
    width: 85%;
}
.div15 {
    width: 15%;
}
.warning {
    color: red;
    font-size: 12px;
}
form {
    width: 600px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    gap: 10px;
    font-size: 1.2em;

}
.just {
    display: flex;
    justify-content: space-between;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.c2-background {
    background: #FFFFFF;
}
.c1-background {
    background: #BFD6F6;
}
input {
    border: 2px solid #405C73;
    width: 200px;
    height: 40px;
    font-size: 0.8em;
}
a{
    text-decoration: none;
    background-color: #FFFFFF;
    font-size: 1.3em;
    width: 200px;
}

table {
    border-radius: 10px;
    border: 2px solid #405C73;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    gap: 10px;
    font-size: 1.2em;
    background: #BFD6F6;
}
.zag {
    border-radius: 10px;
    border: 2px solid #405C73;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
    gap: 10px;
    font-size: 1.5em;
    background: #BFD6F6;
}
.sel {
    border: 2px solid #405C73;
    width: 204px;
    height: 40px;
}
.im {
    width: 150px;
    margin: 10px auto;
    display: grid;
}
